*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: inter;
}

#menu-superior{
    background-color: #303030;
    width: 100%;
    height: 475px;
    color: #ffff;
    padding-top: 200px;
}

#titulo-menu-superior{
    font-size: 60px;
    margin-left: 60px;
}

#texto-menu-superior{
    font-size: 20px;
    margin-left: 60px;
    margin-top: 15px;
}

#dados-empresa{
    background-color: #F9F9F9;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 210px;
    letter-spacing: 1.5px;
}

.texto-titulo-dados-empresa{
    font-weight: bold;
    font-size: 30px;
}

#historia-empresa{
    padding: 15px;
    display: grid;
    grid-template-columns: 65% 35%;
}

#texto-historia-empresa{
    display: flex;
    align-items: center;
    justify-content: center;
}

#texto-historia-empresa h2{
    font-size: 36px;
}

#texto-historia-empresa p{
    font-size: 22px;
    margin-top: 24px;
}

#imagem-historia-empresa{
    height: 500px;
}

#secao-formulario{
    background-color: hsl(0, 0%, 19%);
    height: 550px;
    color: #ffff;
    padding-top: 100px;
}

#form-container{
    text-align: center;
}

form{
   display: inline-block;
   width: 380px;
}

#secao-formulario p{
    font-size: 26px;
    font-weight: bold;
}

.input-form{
    display: block;
    width: 100%;
    margin: 0 0 50px;
    margin-top: 30px;
    padding: 10px 25px;
    height: 55px;
    border: none;
    border-radius: 10px;
    padding-left: 15px;
    outline: none;
    font-size: 16px;
    font-weight: bold;
}

.input-form::placeholder{
    color: #0000004D;
}

.button-form{
    background-color: #C07212;
    color: #ffff;
    width: 250px;
    height: 57px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 22px;
    margin-top: 12px;
    font-weight: bold;
}