*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: inter;
}

#menu-superior{
    background-color: #303030;
    width: 100%;
    height: 80vh;
    color: #ffff;
    padding-top: 200px;
}

#titulo-menu-superior{
    font-size: 60px;
    margin-left: 60px;
}

#texto-menu-superior{
    font-size: 20px;
    margin-left: 60px;
    margin-top: 15px;
}

#dados-empresa{
    background-color: #F9F9F9;
    color: black;
}